.container {
    padding: 20px;
    padding-bottom: 0;
    border-bottom: 2px solid rgba(102, 102, 102, 0.71)
}

.filmBox {
    display: flex;
    margin: 10px 0;

}

.filmDiv {
    margin: 10px 15px;
}

.infoBlock {
    margin: 0;
    padding: 0;
}

.title {
    padding: 0 20px;
}

.image {
    width: 250px;
    height: auto
}

.btn {
    margin: 10px 15px 0 15px;
    width: 120px;
    text-align: left;
    background-color: white;
    border: none;
    outline: none;
    font-weight: 500;
}

.btn:focus,
.btn:hover {
outline: none;
}